[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 16.0

[submodule "sts-odoo/ceci-est-prive"]
	path = sts-odoo/ceci-est-prive
	url = git@github.com:sts-odoo/ceci-est-prive.git
	branch = main

[submodule "encore/ceci-est-prive"]
	path = encore/ceci-est-prive
	url = git@github.com:sts-odoo/ceci-est-prive.git
	branch = main
